{% block head %}
<link rel="stylesheet" href="{{asset('assets/styles/app.css')}}">
{% endblock %}

{% block body %}
<body>
{% include 'base/nav.html.twig' %}

{% include 'home/mainsec.html.twig' %}

{% include 'base/footer.html.twig' %}
</body>


{% endblock %}   

