<body>

<section class="allSec">
    <div class="homeSection">
        <h2>Histoire Lr</h2>
        <a href=""><img src="{{ asset('assets/img/lrBuildings.jpg') }}" alt="" class="homeImg"></a>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro quasi ducimus optio explicabo exercitationem 
        repellat laudantium possimus at magnam sequi corporis dicta enim accusantium, obcaecati alias esse eos reiciendis 
        veritatis!</p>
        <a href="" class="extLink">Lire la suite</a>
    </div>

    <div class="homeSection">
        <h2>Nos gammes</h2>
        <a href=""><img src="{{ asset('assets/img/productsLr.jpg') }}" alt="" class="homeImg"></a>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit nam inventore itaque ratione pariatur est dolores ad 
        eligendi rerum laudantium harum voluptas fugit vel nisi, molestiae id a quis assumenda!</p>
        <a href="" class="extLink">Lire la suite</a>
    </div>

    <div class="homeSection">
        <h2>Propriétés de l'Aloe</h2>
        <a href=""><img src="{{ asset('assets/img/aloelr.jpg') }}" class="homeImg" alt=""></a>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic numquam aliquid pariatur, tenetur voluptatem nesciunt et 
        distinctio alias velit beatae est officiis ab repellat animi blanditiis eligendi voluptates ducimus magni!</p>
        <a href="" class="extLink">Lire la suite</a>
    </div>
</section>  
</body>