<body>

<footer>
    <div class="footer">
        <div>  
            <h2>Nos réseaux</h2>
            <a href="#"><img src="{{asset('assets/img/iconmonstr-facebook-1.svg')}}" alt=""></a>
            <a href="#"><img src="{{asset('assets/img/iconmonstr-instagram-11.svg')}}" alt=""></a>
        </div>
        <div>
            <h2>Conditions générales de vente</h2>
            <a href="#">Cliquez ici</a>
        </div>
        <div>
            <h2>Copyright</h2>
        </div>     
    </div>
</footer>

</body>
</html>