<body>
	<header class="mainHeader">
		<div class="logo">
			<a href="">
				<img class="imgLogo" src="{{ asset('assets/img/logolr.jpg') }}" alt="logoLr"></img>
		</a>
	</div>
		<input type="checkbox" class="menuBtn" id="menuBtn">
		<label for="menuBtn" class="menuIcon">
			<span class="menuIconLine"></span>
		</label>
	

	<ul class="navLinks">

		<li class="navLink">
			<a href="">Connexion</a>
		</li>
		<li class="navLink">
			<a href="">News</a>
		</li>
		<li class="navLink">
			<a href="">Nos produits</a>
		</li>
		<li class="navLink">
			<a href="">Nous rejoindre</a>
		</li>
		<li class="navLink">
			<a href="">Contact/FAQ</a>
		</li>
	</ul>
	<script src="assets/js/navbar.js"></script>
	</header>
</body>