{% block head %}
<link rel="stylesheet" href="{{asset('assets/styles/app.css')}}">
{% endblock %}

{% block body %}
{% include 'base/nav.html.twig' %}
<div class="gridGall">
<div class="frstProduct">
<img src="{{ asset('assets/img/productsLr.jpg') }}" alt="" class="gaImg">
<p class="gaContent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi ea suscipit tempora quisquam aut, nisi recusandae voluptate 
perferendis labore magni reprehenderit totam aspernatur minima quae ut harum provident autem fuga dicta. Dolore, fugiat quo 
molestiae ex reprehenderit consectetur mollitia architecto expedita placeat iste rem neque et, nostrum sint fuga magni ipsum 
pariatur quibusdam consequuntur libero rerum sapiente quos! Optio ipsam et sed assumenda aut, dicta ducimus molestias eum. 
Quo sed qui, vel laborum iste odio perferendis sapiente sint corrupti consectetur quod porro eius dolore illum perspiciatis 
cumque, facere omnis dolorum. Unde adipisci nesciunt repellat recusandae quidem debitis esse. Nobis, earum!</p>
</div>
<div class="scndProduct">
<img src="{{ asset('assets/img/lrbox.jpg') }}" alt="" class="gaImg">
<p class="gaContent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi ea suscipit tempora quisquam aut, nisi recusandae voluptate 
perferendis labore magni reprehenderit totam aspernatur minima quae ut harum provident autem fuga dicta. Dolore, fugiat quo 
molestiae ex reprehenderit consectetur mollitia architecto expedita placeat iste rem neque et, nostrum sint fuga magni ipsum 
pariatur quibusdam consequuntur libero rerum sapiente quos! Optio ipsam et sed assumenda aut, dicta ducimus molestias eum. 
Quo sed qui, vel laborum iste odio perferendis sapiente sint corrupti consectetur quod porro eius dolore illum perspiciatis 
cumque, facere omnis dolorum. Unde adipisci nesciunt repellat recusandae quidem debitis esse. Nobis, earum!</p>
</div>
<div class="thirdProduct">
<img src="{{ asset('assets/img/aloeLr.jpg') }}" alt="" class="gaImg">
<p class="gaContent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi ea suscipit tempora quisquam aut, nisi recusandae voluptate 
perferendis labore magni reprehenderit totam aspernatur minima quae ut harum provident autem fuga dicta. Dolore, fugiat quo 
molestiae ex reprehenderit consectetur mollitia architecto expedita placeat iste rem neque et, nostrum sint fuga magni ipsum 
pariatur quibusdam consequuntur libero rerum sapiente quos! Optio ipsam et sed assumenda aut, dicta ducimus molestias eum. 
Quo sed qui, vel laborum iste odio perferendis sapiente sint corrupti consectetur quod porro eius dolore illum perspiciatis 
cumque, facere omnis dolorum. Unde adipisci nesciunt repellat recusandae quidem debitis esse. Nobis, earum!</p>
</div>
</div>
{% include 'base/footer.html.twig' %}
{% endblock %}  