{% block head %}
<link rel="stylesheet" href="{{asset('assets/styles/app.css')}}">
{% endblock %}

{% block body %}
{% include 'base/nav.html.twig' %}
<div>
<img src="{{ asset('assets/img/aloelr.jpg') }}" alt="" class="staticImg">
</div>
<div>
<p class="staticText">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum at commodi, consequuntur repellat nobis sunt illo earum? 
Quidem illum obcaecati deleniti, illo, vitae iusto neque provident dolores beatae, voluptate maiores! Deserunt facere error 
voluptates consequuntur molestiae, harum enim atque, iure ab rem quis optio provident? Iste numquam explicabo repellendus earum 
voluptas praesentium exercitationem possimus nostrum atque, id ex necessitatibus beatae, deleniti veniam neque unde corporis 
laudantium iusto eaque quod. Amet optio molestiae numquam, soluta, voluptatibus, ducimus temporibus earum quam doloremque facilis 
labore quod ipsa repudiandae animi voluptates nulla totam odio. Ducimus sit sapiente magnam deserunt corporis quia voluptatum hic 
voluptatem?</p>
</div>
{% include 'base/footer.html.twig' %}
{% endblock %}  