.staticImg {
    display: flex;
    margin: 0 auto;
    width: 450px;
    height: 350px;
    padding-top: 100px;
}

.staticText {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 50%;
    margin: 0 auto;
}