body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
}

li {
  list-style-type: none;
  text-decoration: none;
}

.mainHeader {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  width: 90%;
  padding: 0 10vw;
  color: black;
  z-index: 1;
  -webkit-transition: .4s ease-out;
  transition: .4s ease-out;
}

.mainHeader .imgLogo {
  width: 50px;
  height: 50px;
}

.mainHeader a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

.mainHeader .navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainHeader .navLinks .navLink a {
  margin: .2rem;
  padding: 1rem .5rem;
}

.mainHeader .navLinks .navLink a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.mainHeader .menuIcon {
  position: relative;
  padding: 26px 10px;
  z-index: 1;
  cursor: pointer;
  display: none;
}

.mainHeader .menuIcon .menuIconLine {
  display: block;
  position: relative;
  background: #000;
  height: 2px;
  width: 20px;
  border-radius: 4px;
}

.mainHeader .menuIcon .menuIconLine::before, .mainHeader .menuIcon .menuIconLine::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background: #000;
  -webkit-transition: background .8s ease;
  transition: background .8s ease;
}

.mainHeader .menuIcon .menuIconLine::before {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.mainHeader .menuIcon .menuIconLine::after {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.mainHeader .menuBtn {
  display: none;
  position: absolute;
}

.mainHeader.scrolled {
  height: 50px;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
}

.mainHeader.scrolled .menuIcon .menuIconLine,
.mainHeader.scrolled .menuIcon .menuIconLine::before,
.mainHeader.scrolled .menuIcon .menuIconLine::after {
  background: white;
}

@media screen and (max-width: 767px) {
  .mainHeader .menuIcon {
    display: block;
  }
  .mainHeader .navLinks {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10rem 0;
    width: 100vw;
    height: 100vh;
    font-size: 2rem;
    color: white;
    background: #000;
    -webkit-transition: opacity .8s .5s, -webkit-clip-path 1s .5s;
    transition: opacity .8s .5s, -webkit-clip-path 1s .5s;
    transition: opacity .8s .5s, clip-path 1s .5s;
    transition: opacity .8s .5s, clip-path 1s .5s, -webkit-clip-path 1s .5s;
    -webkit-clip-path: circle(200px at top right);
            clip-path: circle(200px at top right);
  }
  .mainHeader .menuBtn:checked ~ .navLinks {
    opacity: 1;
    -webkit-clip-path: circle(100% at center);
            clip-path: circle(100% at center);
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  .mainHeader .menuBtn:not(:checked) ~ .navLinks {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  .mainHeader .menuBtn:checked ~ .menuIcon .menuIconLine {
    background: #fff;
  }
  .mainHeader .menuBtn:checked ~ .menuIcon .menuIconLine::before {
    background: #fff;
  }
  .mainHeader .menuBtn:checked ~ .menuIcon .menuIconLine::after {
    background: #fff;
  }
}

.footer {
  width: 100%;
  bottom: 0;
  padding: 1rem;
  background-color: #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.allSec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  gap: 50px;
  padding-bottom: 200px;
}

@media screen and (max-width: 1011px) {
  .allSec {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.allSec .homeSection {
  margin-top: 200px;
  text-align: center;
}

.allSec .homeSection .homeImg {
  width: 300px;
  height: 200px;
}

.articleTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adminArticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.articleSubmit {
  margin-top: 10px;
}

.staticImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 450px;
  height: 350px;
  padding-top: 100px;
}

.staticText {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 50%;
  margin: 0 auto;
}

.gridGall {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "frst scnd thrd";
}

@media screen and (max-width: 900px) {
  .gridGall {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.gridGall .frstProduct {
  grid-area: "frst";
}

.gridGall .scndProduct {
  grid-area: "scnd";
}

.gridGall .thirdProduct {
  grid-area: "thrd";
}

.gridGall .gaImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 300px;
  height: 200px;
  padding-top: 150px;
  padding-bottom: 30px;
}

.gridGall .gaContent {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: center;
}

.joGridTop {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "joImg joTxt";
}

@media screen and (max-width: 900px) {
  .joGridTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.joGridTop .joImg {
  grid-area: "joImg";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 500px;
  height: 400px;
  padding-top: 150px;
  padding-bottom: 30px;
}

@media screen and (max-width: 900px) {
  .joGridTop .joImg {
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 520px) {
  .joGridTop .joImg {
    width: 400px;
    height: 300px;
  }
}

@media screen and (max-width: 420px) {
  .joGridTop .joImg {
    width: 300px;
    height: 200px;
  }
}

.joGridTop .joTxt {
  grid-area: "joTxt";
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 30px;
  width: 80%;
}

@media screen and (max-width: 900px) {
  .joGridTop .joTxt {
    padding-top: 10px;
    width: 70%;
    margin: 0 auto;
  }
}

.joGridMid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "midTxt midImg";
}

@media screen and (max-width: 900px) {
  .joGridMid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.joGridMid .midTxt {
  grid-area: "midTxt";
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-left: 50px;
}

@media screen and (max-width: 900px) {
  .joGridMid .midTxt {
    padding-top: 10px;
    width: 70%;
    margin: 0 auto;
  }
}

.joGridMid .midImg {
  grid-area: "midImg";
}

.joGridMid .midImg img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 500px;
  height: 400px;
}

@media screen and (max-width: 520px) {
  .joGridMid .midImg img {
    width: 400px;
    height: 300px;
  }
}

@media screen and (max-width: 420px) {
  .joGridMid .midImg img {
    width: 300px;
    height: 200px;
  }
}

.joGridBot {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "botImg botTxt";
}

@media screen and (max-width: 900px) {
  .joGridBot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.joGridBot .botImg {
  grid-area: "botImg";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 500px;
  height: 400px;
  padding-top: 150px;
  padding-bottom: 30px;
}

@media screen and (max-width: 900px) {
  .joGridBot .botImg {
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 520px) {
  .joGridBot .botImg {
    width: 400px;
    height: 300px;
  }
}

@media screen and (max-width: 420px) {
  .joGridBot .botImg {
    width: 300px;
    height: 200px;
  }
}

.joGridBot .botTxt {
  grid-area: "botTxt";
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 30px;
  width: 80%;
}

@media screen and (max-width: 900px) {
  .joGridBot .botTxt {
    padding-top: 10px;
    width: 70%;
    margin: 0 auto;
  }
}

.contTitle {
  padding-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cardContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 30%;
}

.contLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.articleGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  padding-top: 100px;
}

.articleGrid .article {
  margin-bottom: 20px;
  gap: 30px;
}

.articleGrid .articleTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.articleGrid .articleContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.articleGrid .articleAuthor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.articleGrid .articleImg {
  width: 250px;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  border-radius: 20px;
  margin-bottom: 20px;
}

.articleGrid .managementBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}

.articleGrid .managementBtns a {
  text-decoration: none;
}
/*# sourceMappingURL=app.css.map */